!! URxvt Appearance

! Base16 Darcula
! Scheme: Matthias Brandt (github.com/PlusMinus0) based on Darcula theme by Konstantin Bulenkov (github.com/bulenkov/Darcula)

#define base00 #2B2B2B
#define base01 #323232
#define base02 #214283
#define base03 #808080
#define base04 #D0D0D0
#define base05 #D8D8D8
#define base06 #E8E8E8
#define base07 #F8F8F8
#define base08 #79ABFF
#define base09 #9876AA
#define base0A #A9B7C6
#define base0B #A5C25C
#define base0C #629755
#define base0D #FFC66D
#define base0E #CC7832
#define base0F #D25252

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06

URxvt.font: xft: UbuntuMono Nerd Font Mono:style=Regular:size=15
URxvt.boldFont: xft: UbuntuMono Nerd Font Mono:style=Bold:size=15
URxvt.italicFont: xft: UbuntuMono Nerd Font Mono:style=Italic:size=15
URxvt.boldItalicFont: xft: UbuntuMono Nerd Font Mono:style=Bold Italic:size=15

URxvt.letterSpace: 0
URxvt.lineSpace: 2
URxvt.geometry: 92x24
URxvt.internalBorder: 8
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollstyle: plain
URxvt.scrollColor: #d5c4a1
URxvt.urgentOnBell: true
URxvt.depth: 24

! disable keybinding ctrl+shift to iso14755 key cap mode (mode to enter unicode codes)
URxvt.iso14755: false
URxvt.iso14755_52: false


! Perl extensions
URxvt.perl-ext-common: default,matcher,resize-font,tabbedex


!! Scrolling behaviour

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true


!! Copy & paste

! Make Ctrl+Shift+(c/v) to copy/paste from/to clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard


!! Clickable URLs

! Remark there is an extension that allows url selection via keyboard in addion
! https://wiki.archlinux.org/index.php/Rxvt-unicode#Yankable_URLs_(no_mouse)
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold
URxvt.colorUL: #b8bb26

!! Tabs

! Hide the tabs bar when only one tab is present
URxvt.tabbed.autohide: true

! Disable the default tabbedex key mapping
! URxvt.tabbed.no-tabbedex-keys: true

! Use custom key mapping
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-Tab: perl:tabbedex:next_tab
URxvt.keysym.Control-Shift-ISO_Left_Tab: perl:tabbedex:prev_tab

